<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiyili.vip">
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <application>
                <!-- for umeng -->



        <!-- for umeng update -->
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
